:root {
    --primary: #5dc24f;
    
    --shade0: #161616;
    --shade1: #1a1a1a;
    --shade2: #222222;
    --shade2-60: #21212199;
    --shade3: #2C2C2E;
    --shade4: #646464;
    --shade4-40: #63636366;
    --shade5: #9f9f9f;
    --shade6: #ffffff;
    --navbar: #13121287;
}

html[data-theme='light'] {
    --shade0: #f0f0f0;
    --shade1: #e7e7e7;
    --shade2: #FEFFFE;
    --shade2-60: #ffffff99;
    --shade3: #F0F3F4;
    --shade4: #2c2c2c;
    --shade5: #131313;
    --shade6: #000000;
    --navbar: #ebebeb87;
}

$black: #000000;
$white: #ffffff;
$red : #F44336;
$blue: #263850;
$green: #66BB6A;

$shade0: #161616;
$shade1: #1a1a1a;
$shade2: #222222;
$shade3: #2C2C2E;
$shade4: #646464;
$shade5: #9f9f9f;

$primary: #df0051;
$primary: var(--primary);
$primaryActive: #ef6698;



.black {
    background-color: $black;
}

.white {
    background-color: $white;
}

.red {
    background-color: $red;
}

.blue {
    background-color: $blue;
}

.green {
    background-color: $green;
}

.primary {
    background-color: $primary;
}

.primary--text {
    color: $primary;
}

.black--text {
    color: $black;
}

.white--text {
    color: $white;
}

.red--text {
    color: $red;
}

.green--text {
    color: $green;
}

.error--text {
    color: #F44336;
}

.blue--text {
    color: #3ea6ff;
}


.primary--text {
    color: $primary;
}

.success--text {
    color: #4CAF50;
}

.warning--text {
    color: #FFEB3B;
}

.warning {
    background-color: #FFEB3B;
}

.info--text {
    color: #03A9F4;
}

.info {
    background-color: #03A9F4;
}


.link:hover {
    color: $primaryActive;
}


.shade0 {
    background-color: var(--shade0);
}

.shade1 {
    background-color: var(--shade1);
}

.shade2 {
    background-color: var(--shade2);
}

.shade2-60 {
    background-color: var(--shade2-60);
}

.shade3 {
    background-color: var(--shade3);
}

.shade4 {
    background-color: var(--shade4);
}

.shade4-40 {
    background-color: var(--shade4-40);
}

.shade5 {
    background-color: var(--shade5);
}

.shade6 {
    background-color: var(--shade6);
}

.shade1--text {
    color: $shade1;
}

.shade2--text {
    color: $shade2;
}

.shade3--text {
    color: $shade3;
}

.shade4--text {
    color: $shade4;
}

.shade5--text {
    color: $shade5;
}

.shade6--text {
    color: var(--shade6);
}

.green--text {
    color: $green;
}

.gradient--text {
    font-weight: 600;
    background-image: linear-gradient(to left bottom, #ab7fd9, #c880d3, #f880b6, #ff8e95, #ffa878);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}