//FLEXBOX

.d-flex {
  display: flex;
}

.d-col {
  flex-direction: column;
}

.d-row {
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
  flex-basis: 0;
}

.grow-0 {
  flex-grow: 0;
  flex-basis: 0;
}

.grow-2 {
  flex-grow: 2;
  flex-basis: 0;
}

.overlay {
  overflow: auto;
  overflow: overlay;
}

.basis {
  flex-basis: fit-content;
  width: 0;
}

.none {
  display: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
}


.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.shine {
  transition: 0.3s all ease;
}

.shine:hover {
  filter: brightness(1.2);
}

.gap-1 {
  gap: 1px;
}

.gap-5 {
  gap: 5px;
}

.gap-7 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-100 {
  gap: 100px;
}


//SIZING

.min-height-300px {
  min-height:300px;
}
.h-auto {
  height: auto;
}

.max-height-800px {
  max-height:800px;
}
.max-height-650px {
  max-height:650px;
}

.h100 {
  height: 100%;
}

.vh100 {
  min-height: 100vh;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.block {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.p-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-top {
  top: 0;
}

.p-bottom {
  bottom: 0;
}

.p-left {
  left: 0;
}

.p-right {
  right: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

//TEXT

.letter-spacing {
  letter-spacing: 3px;
}

.bold {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-25 {
  line-height: 25px;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capital {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}


.white_space_normal {
  white-space: normal;
}

.missingText {
  min-height: 19px;
}

.underline {
  text-decoration: underline;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-36 {
  font-size: 36px;
}

.font-40 {
  font-size: 40px;
}

.font-46 {
  font-size: 46px;
}

//UTILITY

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.b-box {
  box-sizing: border-box;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.opacity-100 {
  opacity: 1;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-40 {
  opacity: 0.4;
}

.shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.nopointer {
  pointer-events: none;
}

.autopointer {
  pointer-events: auto;
}

.round {
  border-radius: 50%;
}

.curve {
  border-radius: 8px;
}

.curve-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.min-max-content{
  min-width: max-content;
}

.ratio-1-1 {
  aspect-ratio: 1;
}

.glass {
  background: rgba(197, 207, 197, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(197, 207, 197, 0.3);
}

@media only screen and (max-width: 576px) {
  .sm-font-35 {
    font-size: 35px;
  }
}