@import './spacing.scss';
@import './size.scss';
@import './helper.scss';
@import './color.scss';
@import './custom.scss';

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Roboto;
    color:  var(--shade6);
    background-color: var(--shade2);
    overflow: overlay;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:hover {
 color: $shade5;
}

input,
button,
textarea,
a {
    border: none;
    background-color: transparent;
    font-family: roboto;
    outline: none;
    // -webkit-appearance: none;
  //  appearance: none;
    border-radius: 0;
    background: none;
    color: inherit;
    border: none;
    text-align: inherit;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    resize: vertical;
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    // max-width: 1700px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 0.2s ease;
}

hr {
    border: 1px solid  var(--shade2);
}

p{
    line-height: 28px;
}

.border {
    border: 1px solid  var(--shade3);
}

.borderStrong {
    border: 1px solid  var(--shade4);
}

.fast {
    transition: all 150ms ease;
}

.slow {
    transition: all 300ms ease;
}

.smooth{
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background:  var(--shade1);
}

*::-webkit-scrollbar-thumb {
    background-color:  var(--shade3);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: var(--shade1);
}

a.active {
    background-color: rgba(100, 100, 100, 0.4);
    color: var(--shade6);
}

@media only screen and (max-width: 576px) {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }

    *::-webkit-scrollbar {
        width: 5px;
    }
}